.test-page {
  height: 80vh;
}

.header-text {
  margin: 1rem;
}

.image-test-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .image-grid-test {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
  }
  
  .image-grid-test img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .image-grid-test img:hover {
    transform: scale(1.1);
  }

 