.homepage-word-logo {
    font-size: 2.09rem;
    text-align: start;
    background-color: rgba(90, 88, 88, 0.423);
    padding: .15rem .75rem;
  }

  .homepage-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: .1rem solid rgb(170, 166, 160);
    padding: .25rem;
    background-image: url(../../assets/imgs/navbar-background.jpg);
    background-size: cover;
    color: whitesmoke;
  }
  
  .icon-container {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(24, 23, 23, 0.384);
    padding: .2rem .35rem;
  }