.footer {
    background-color: #1f2937;
    color: #ffffff;
    padding: 2rem 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
    padding: 0 1rem;
  }
  
  .footer-heading {
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .footer-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-link:hover {
    color: #9ca3af;
    text-decoration: underline;
  }
  
  .footer-copyright {
    text-align: center;
    border-top: 1px solid #4b5563;
    padding-top: 1rem;
    margin-top: 2rem;
  }

  /* rashida link */

  .rashida-link {
    text-decoration: underline;
    color: rgb(53, 107, 224);
    margin-top: 1px;
  }

  .rashida-link:hover {
    cursor: pointer;
    font-size: large;
  }