#root {
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.test-page {
  margin-top: 1.35rem;
}

.header-text {
  font-size: 2.33rem;
}

.medium-container {
  max-width: 72.5%;
  margin: 0 auto;  /* Center the container horizontally */
}

.large-container {
  max-width: 90%;
  margin: 0 auto;  /* Center the container horizontally */
}
