/* general homepage css */
.homepage {
    background-image: url(../../assets/imgs/homepage-background.jpg);
    background-size: cover;
    padding-bottom: .5rem;
  }

  .homepage-text {
    font-size: 1.4rem;
    text-align: start;
    margin-top: .75rem;
    margin-left: .5rem;
  }


  /* intro css */
.homepage-introduction {
  text-align: start;
  margin-top: 1rem;
  margin-bottom: .28rem;
}

.artist-intro-name {
  font-size: 1.65rem;
  margin-top: .3rem;
}

.intro-pronouns-container {
  display: flex;
}

.artist-intro-pronouns {
  margin-right: 3px;
  margin-left: 2px;
}


  /* buckets css */
  .homepage-buckets {
    display: flex;
    justify-content: center;
    margin-top: .55rem;
  }
  
  .bucket {
    width: 15rem; 
    height: 10rem; 
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 10px; /* Add some spacing between buckets */
    background-color: whitesmoke;
  }

  
/* featured  bucket css */
  .featured-items-container {
    font-size: 1.25rem;
  }

  .featured-bucket-item {
    width: auto;
    height: 34rem;
    border: 1px solid black;
    margin: 5px 22px; /* Add some spacing between buckets */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
    opacity: .88;
  }


  /* latest posts css */
  .latest-posts-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 1rem 0;
  }
  
  .latest-posts-container::-webkit-scrollbar {
    display: none;
  }
  
  
  /* featured item CSS */
  .latest-post-item {
    flex-shrink: 0;
    width: 300px;
    margin-right: 1rem;
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 8px;
    opacity: .93;
  }


  /* latest posts CSS */
  .latest-post-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .latest-post-description {
    margin-top: 1rem;
  }
  
  .vibe-tag {
    margin-top: 0.5rem;
    color: #666;
    opacity: .875;
  }
  
  .author-container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  
  .author-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 0.5rem;
  }
  
  .author-name {
    font-size: 0.875rem;
  }


  /* about robin */
  .about-robin-section {
    border: 2px solid black;
    margin: .052rem;
    padding: .45rem;
    height: 7rem;
    background-color: whitesmoke;
    opacity: .875;
  }

  .about-robin-title {
    font-size: 1.15rem;
    text-align: start;
    /* TODO: adding a border so I can remember how to style this */
    border: 1px solid black;
  }


  /* homepage vibe tags */
  .vibe-tags-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem 0;
  }
  
  .home-vibe-tag {
    background-color: #d6dfc1;
    padding: 1rem;
    border-radius: 8px;
    margin: 0 .6rem;
  }

  .home-vibe-tag:hover {
    cursor: pointer;
    font-weight: bolder;
  }